.env
data/reports/*
!data/reports/GEMINI.md
data/surveys/*
!data/surveys/GEMINI.md
data/proposals/*
!data/proposals/GEMINI.md
context/reports/*
!context/reports/GEMINI.md
context/surveys/*
!context/surveys/GEMINI.md
context/proposals/*
!context/proposals/GEMINI.md
output/*
!output/GEMINI.md
styles/*
!styles/GEMINI.md
node_modules/